body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #cccfff;
    
  }

  .cuerpo input {
      width: 250px;
      height: 20px;
  }

  .cuerpo button {
      width: 180px;
      height: 30px;
  }

  .cuerpo div p {
      padding: 10px;
      width: 250px;
      background-color: red;
      color: white;
  }

  .cuerpo .campos {
      padding: 5px;
      margin-left: 10px;
  }