<div ng-controller="HomeController" class="cuerpo">
    <h1>{{ title }}</h1>
    <h2>{{ text }}</h2>
    <br>
    <form action="#" method="GET" name="formulario">

        <div class="campos">
            <label for="nombre">Nombre</label><br>
            <input type="text" name="nombre" value="" ng-model="nombre" placeholder="Ingrese un nombre..." required>
            <!-- ng-if: $touched valida si el campo es tocado -->
            <div ng-messages="formulario.nombre.$error" ng-if="formulario.nombre.$touched">
                    <p ng-message="required">Este campo es requerido</p>
            </div>
        </div>
        
        <div class="campos">
            <label for="abreviatura">Abreviatura</label><br>
            <input type="text" name="abreviatura" value="" ng-model="abreviatura" placeholder="Ingrese una abreviatura..." required>
            <div ng-messages="formulario.abreviatura.$error" ng-if="formulario.abreviatura.$touched">
                <p ng-message="required">Este campo es requerido</p>
            </div>
        </div>
        
        <div class="campos">
            <button type="submit">Enviar</button>        
        </div>
    </form>

    
</div>